html,
body,
section,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body,
html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  margin: 0;
}

input,
button:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
  color: currentColor;
}

*:before,
*:after {
  box-sizing: border-box !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Text-level semantic
 */
:active {
  outline: none;
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

/**
 * Embedded content
 */
img {
  max-width: 100%;
  height: auto;
  border-style: none;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

/**
 * Grouping content
 */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 16px;
}

/**
 * Forms
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button,
input[type=submit] {
  padding: 0;
  overflow: visible;
  background: none;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
  border-radius: 0;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: none;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: inherit;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: inherit;
}

input::placeholder,
textarea::placeholder {
  color: inherit;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

/**
 * Tables
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}


:root {
  --f-body: "Poppins";
  --primary: #ed1b24;
  --secondary: #0e74bc;
}

body {
  font-family: var(--f-body);
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  box-sizing: border-box;
}

figure {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: -moz-max-content;
  max-width: max-content;
}

input,
textarea,
select {
  outline: 0;
  background: transparent;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
select::-webkit-outer-spin-button,
select::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.text-heading-h1 {
  font-size: 60px;
  line-height: 126%;
  font-weight: 600;
}
@media screen and (max-width: 1439px) {
  .text-heading-h1 {
    font-size: 64px;
  }
}
@media screen and (max-width: 1280px) {
  .text-heading-h1 {
    font-size: 52px;
  }
}
@media screen and (max-width: 992px) {
  .text-heading-h1 {
    font-size: 48px;
  }
}
.text-heading-h2 {
  font-size: 48px;
  line-height: 141%;
  font-weight: 600;
}
@media screen and (max-width: 1439px) {
  .text-heading-h2 {
    font-size: 44px;
  }
}
@media screen and (max-width: 1280px) {
  .text-heading-h2 {
    font-size: 36px;
  }
}
@media screen and (max-width: 992px) {
  .text-heading-h2 {
    font-size: 32px;
  }
}
.text-heading-h3 {
  font-size: 40px;
  line-height: 140%;
  font-weight: 600;
}
@media screen and (max-width: 1439px) {
  .text-heading-h3 {
    font-size: 38px;
  }
}
@media screen and (max-width: 1280px) {
  .text-heading-h3 {
    font-size: 34px;
  }
}
@media screen and (max-width: 992px) {
  .text-heading-h3 {
    font-size: 28px;
  }
}
.text-heading-h4 {
  font-size: 32px;
  line-height: 137.5%;
  font-weight: 600;
}
@media screen and (max-width: 1439px) {
  .text-heading-h4 {
    font-size: 28px;
  }
}
@media screen and (max-width: 1280px) {
  .text-heading-h4 {
    font-size: 24px;
  }
}
@media screen and (max-width: 992px) {
  .text-heading-h4 {
    font-size: 20px;
  }
}
.text-heading-h5 {
  font-size: 28px;
  line-height: 150%;
  font-weight: 600;
}
@media screen and (max-width: 1439px) {
  .text-heading-h5 {
    font-size: 26px;
  }
}
@media screen and (max-width: 1280px) {
  .text-heading-h5 {
    font-size: 24px;
  }
}
@media screen and (max-width: 992px) {
  .text-heading-h5 {
    font-size: 24px;
  }
}
.text-heading-h6 {
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
}
@media screen and (max-width: 1439px) {
  .text-heading-h6 {
    font-size: 22px;
  }
}
@media screen and (max-width: 1280px) {
  .text-heading-h6 {
    font-size: 20px;
  }
}
@media screen and (max-width: 992px) {
  .text-heading-h6 {
    font-size: 18px;
  }
}
.text-heading-h7 {
  font-size: 20px;
  line-height: 160%;
  font-weight: 600;
}
@media screen and (max-width: 1439px) {
  .text-heading-h7 {
    font-size: 18px;
  }
}
@media screen and (max-width: 1280px) {
  .text-heading-h7 {
    font-size: 16px;
  }
}
@media screen and (max-width: 992px) {
  .text-heading-h7 {
    font-size: 16px;
  }
}

.text-body {
  font-family: var(--f-inter);
}
.text-body-xl, .text-body-xl-regular, .text-body-xl-medium, .text-body-xl-semibold, .text-body-xl-bold, .text-body-xl-uppercase {
  font-size: 20px;
  line-height: 150%;
}
@media screen and (max-width: 1439px) {
  .text-body-xl, .text-body-xl-regular, .text-body-xl-medium, .text-body-xl-semibold, .text-body-xl-bold, .text-body-xl-uppercase {
    font-size: 18px;
  }
}
@media screen and (max-width: 1280px) {
  .text-body-xl, .text-body-xl-regular, .text-body-xl-medium, .text-body-xl-semibold, .text-body-xl-bold, .text-body-xl-uppercase {
    font-size: 16px;
  }
}
@media screen and (max-width: 992px) {
  .text-body-xl, .text-body-xl-regular, .text-body-xl-medium, .text-body-xl-semibold, .text-body-xl-bold, .text-body-xl-uppercase {
    font-size: 14px;
  }
}
.text-body-xl-uppercase {
  font-weight: 500;
  text-transform: uppercase;
}
.text-body-xl-bold {
  font-weight: 700;
}
.text-body-xl-semibold {
  font-weight: 600;
}
.text-body-xl-medium {
  font-weight: 500;
}
.text-body-xl-regular {
  font-weight: 400;
}
.text-body-lg, .text-body-lg-regular, .text-body-lg-medium, .text-body-lg-semibold, .text-body-lg-bold, .text-body-lg-uppercase {
  font-size: 18px;
  line-height: 155.6%;
}
@media screen and (max-width: 1439px) {
  .text-body-lg, .text-body-lg-regular, .text-body-lg-medium, .text-body-lg-semibold, .text-body-lg-bold, .text-body-lg-uppercase {
    font-size: 16px;
  }
}
@media screen and (max-width: 1280px) {
  .text-body-lg, .text-body-lg-regular, .text-body-lg-medium, .text-body-lg-semibold, .text-body-lg-bold, .text-body-lg-uppercase {
    font-size: 16px;
  }
}
@media screen and (max-width: 992px) {
  .text-body-lg, .text-body-lg-regular, .text-body-lg-medium, .text-body-lg-semibold, .text-body-lg-bold, .text-body-lg-uppercase {
    font-size: 14px;
  }
}
.text-body-lg-uppercase {
  font-weight: 500;
  text-transform: uppercase;
}
.text-body-lg-bold {
  font-weight: 700;
}
.text-body-lg-semibold {
  font-weight: 600;
}
.text-body-lg-medium {
  font-weight: 500;
}
.text-body-lg-regular {
  font-weight: 400;
}
.text-body-md, .text-body-md-regular, .input-label .input-field, .text-body-md-medium, .input-label .input-title, .text-body-md-semibold, .text-body-md-bold, .text-body-md-uppercase {
  font-size: 16px;
  line-height: 150%;
}
@media screen and (max-width: 1439px) {
  .text-body-md, .text-body-md-regular, .input-label .input-field, .text-body-md-medium, .input-label .input-title, .text-body-md-semibold, .text-body-md-bold, .text-body-md-uppercase {
    font-size: 14px;
  }
}
@media screen and (max-width: 1280px) {
  .text-body-md, .text-body-md-regular, .input-label .input-field, .text-body-md-medium, .input-label .input-title, .text-body-md-semibold, .text-body-md-bold, .text-body-md-uppercase {
    font-size: 14px;
  }
}
@media screen and (max-width: 992px) {
  .text-body-md, .text-body-md-regular, .input-label .input-field, .text-body-md-medium, .input-label .input-title, .text-body-md-semibold, .text-body-md-bold, .text-body-md-uppercase {
    font-size: 12px;
  }
}
.text-body-md-uppercase {
  font-weight: 500;
  text-transform: uppercase;
}
.text-body-md-bold {
  font-weight: 700;
}
.text-body-md-semibold {
  font-weight: 600;
}
.text-body-md-medium, .input-label .input-title {
  font-weight: 500;
}
.text-body-md-regular, .input-label .input-field {
  font-weight: 400;
}
.text-body-sm, .text-body-sm-regular, .text-body-sm-medium, .text-body-sm-semibold, .text-body-sm-bold, .text-body-sm-uppercase {
  font-size: 14px;
  line-height: 171.5%;
}
.text-body-sm-uppercase {
  font-weight: 500;
  text-transform: uppercase;
}
.text-body-sm-bold {
  font-weight: 700;
}
.text-body-sm-semibold {
  font-weight: 600;
}
.text-body-sm-medium {
  font-weight: 500;
}
.text-body-sm-regular {
  font-weight: 400;
}
.text-body-xs, .text-body-xs-regular, .text-body-xs-medium, .text-body-xs-semibold, .text-body-xs-bold, .text-body-xs-uppercase {
  font-size: 12px;
  line-height: 166.7%;
}
.text-body-xs-uppercase {
  font-weight: 500;
  text-transform: uppercase;
}
.text-body-xs-bold {
  font-weight: 700;
}
.text-body-xs-semibold {
  font-weight: 600;
}
.text-body-xs-medium {
  font-weight: 500;
}
.text-body-xs-regular {
  font-weight: 400;
}

input.home-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 36px 10px 16px;
  font-size: 14px;
  border: 1px solid #e5e7eb;
  border-radius: 999px;
  background-color: #fff;
  background-image: url(/assets/image/icon/mag-glass.svg);
  background-repeat: no-repeat;
  background-position: right 14px center;
  color: #6b7280;
}
input.home-search::-moz-placeholder {
  color: #6b7280;
  opacity: 1;
}
input.home-search::placeholder {
  color: #6b7280;
  opacity: 1;
}

.input-label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.input-label .input-title {
  color: #1f2237;
}
.input-label .input-title.regular {
  font-weight: 400;
}
.input-label .input-title.semibold {
  font-weight: 600;
}
.input-label .input-field {
  display: flex;
  padding: 12px;
  align-items: flex-start;
  border: 1px solid #dedfe0;
  border-radius: 8px;
  background: #fff;
  width: 100%;
  color: #0f0f0f;
}
.input-label .input-field::-moz-placeholder {
  color: #6b7280;
}
.input-label .input-field::placeholder {
  color: #6b7280;
}
.input-label select.input-field {
  width: 100%;
  appearance: none;
  /* Remove default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("../image/icon/triangle-down.svg") no-repeat right 16px center;
  background-size: 16px 16px;
}
.input-label .input-trans {
  display: flex;
  width: 100%;
  border: none;
}
.input-label .input-trans:disabled {
  background: transparent;
}
.input-label select.input-trans {
  width: 100%;
  appearance: none;
  /* Remove default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("../../assets/image/icon/triangle-down.svg") no-repeat right 0 center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 32px;
  border-radius: 8px;
  border: 1px solid;
  border-color: transparent;
}
.button.bg-primary {
  background-color: var(--primary);
  border-color: var(--primary);
  color: #fff;
}
.button.border-primary {
  border-color: var(--primary);
  color: var(--primary);
  background-color: #fff;
}
.button.p-10-24 {
  padding: 10px 24px;
}

.shadow-1 {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
}/*# sourceMappingURL=main.css.map */