@import "_reset";

:root {
  --f-body: "Poppins";
  --primary: #ed1b24;
  --secondary: #0e74bc;
}
body {
  font-family: var(--f-body);
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
// a {
//   text-decoration: none;
//   &:hover {
//     color: var(--primary);
//   }
// }
figure {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: max-content;
  }
}
input,
textarea,
select {
  outline: 0;
  background: transparent;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
  }
  &:focus {
    outline: none;
  }
}

// ----------------------- Text heading style library -----------------------
.text-heading {
  &-h1 {
    font-size: 60px;
    line-height: 126%;
    font-weight: 600;
    @media screen and (max-width: 1439px) {
      font-size: 64px;
    }
    @media screen and (max-width: 1280px) {
      font-size: 52px;
    }

    @media screen and (max-width: 992px) {
      font-size: 48px;
    }
  }
  &-h2 {
    font-size: 48px;
    line-height: 141%;
    font-weight: 600;
    @media screen and (max-width: 1439px) {
      font-size: 44px;
    }
    @media screen and (max-width: 1280px) {
      font-size: 36px;
    }

    @media screen and (max-width: 992px) {
      font-size: 32px;
    }
  }
  &-h3 {
    font-size: 40px;
    line-height: 140%;
    font-weight: 600;
    @media screen and (max-width: 1439px) {
      font-size: 38px;
    }
    @media screen and (max-width: 1280px) {
      font-size: 34px;
    }

    @media screen and (max-width: 992px) {
      font-size: 28px;
    }
  }
  &-h4 {
    font-size: 32px;
    line-height: 137.5%;
    font-weight: 600;
    @media screen and (max-width: 1439px) {
      font-size: 28px;
    }
    @media screen and (max-width: 1280px) {
      font-size: 24px;
    }

    @media screen and (max-width: 992px) {
      font-size: 20px;
    }
  }
  &-h5 {
    font-size: 28px;
    line-height: 150%;
    font-weight: 600;
    @media screen and (max-width: 1439px) {
      font-size: 26px;
    }
    @media screen and (max-width: 1280px) {
      font-size: 24px;
    }

    @media screen and (max-width: 992px) {
      font-size: 24px;
    }
  }
  &-h6 {
    font-size: 24px;
    line-height: 150%;
    font-weight: 600;
    @media screen and (max-width: 1439px) {
      font-size: 22px;
    }
    @media screen and (max-width: 1280px) {
      font-size: 20px;
    }

    @media screen and (max-width: 992px) {
      font-size: 18px;
    }
  }
  &-h7 {
    font-size: 20px;
    line-height: 160%;
    font-weight: 600;
    @media screen and (max-width: 1439px) {
      font-size: 18px;
    }
    @media screen and (max-width: 1280px) {
      font-size: 16px;
    }

    @media screen and (max-width: 992px) {
      font-size: 16px;
    }
  }
}
// ----------------------- Text body style library -----------------------
.text-body {
  font-family: var(--f-inter);
  &-xl {
    font-size: 20px;
    line-height: 150%;

    @media screen and (max-width: 1439px) {
      font-size: 18px;
    }
    @media screen and (max-width: 1280px) {
      font-size: 16px;
    }
    @media screen and (max-width: 992px) {
      font-size: 14px;
    }

    &-uppercase {
      @extend .text-body-xl;
      font-weight: 500;
      text-transform: uppercase;
    }

    &-bold {
      @extend .text-body-xl;
      font-weight: 700;
    }

    &-semibold {
      @extend .text-body-xl;
      font-weight: 600;
    }

    &-medium {
      @extend .text-body-xl;
      font-weight: 500;
    }

    &-regular {
      @extend .text-body-xl;
      font-weight: 400;
    }
  }

  &-lg {
    font-size: 18px;
    line-height: 155.6%;

    @media screen and (max-width: 1439px) {
      font-size: 16px;
    }
    @media screen and (max-width: 1280px) {
      font-size: 16px;
    }
    @media screen and (max-width: 992px) {
      font-size: 14px;
    }

    &-uppercase {
      @extend .text-body-lg;
      font-weight: 500;
      text-transform: uppercase;
    }

    &-bold {
      @extend .text-body-lg;
      font-weight: 700;
    }

    &-semibold {
      @extend .text-body-lg;
      font-weight: 600;
    }

    &-medium {
      @extend .text-body-lg;
      font-weight: 500;
    }

    &-regular {
      @extend .text-body-lg;
      font-weight: 400;
    }
  }

  &-md {
    font-size: 16px;
    line-height: 150%;

    @media screen and (max-width: 1439px) {
      font-size: 14px;
    }
    @media screen and (max-width: 1280px) {
      font-size: 14px;
    }
    @media screen and (max-width: 992px) {
      font-size: 12px;
    }

    &-uppercase {
      @extend .text-body-md;
      font-weight: 500;
      text-transform: uppercase;
    }

    &-bold {
      @extend .text-body-md;
      font-weight: 700;
    }

    &-semibold {
      @extend .text-body-md;
      font-weight: 600;
    }

    &-medium {
      @extend .text-body-md;
      font-weight: 500;
    }

    &-regular {
      @extend .text-body-md;
      font-weight: 400;
    }
  }

  &-sm {
    font-size: 14px;
    line-height: 171.5%;

    &-uppercase {
      @extend .text-body-sm;
      font-weight: 500;
      text-transform: uppercase;
    }

    &-bold {
      @extend .text-body-sm;
      font-weight: 700;
    }

    &-semibold {
      @extend .text-body-sm;
      font-weight: 600;
    }

    &-medium {
      @extend .text-body-sm;
      font-weight: 500;
    }

    &-regular {
      @extend .text-body-sm;
      font-weight: 400;
    }
  }

  &-xs {
    font-size: 12px;
    line-height: 166.7%;

    &-uppercase {
      @extend .text-body-xs;
      font-weight: 500;
      text-transform: uppercase;
    }

    &-bold {
      @extend .text-body-xs;
      font-weight: 700;
    }

    &-semibold {
      @extend .text-body-xs;
      font-weight: 600;
    }

    &-medium {
      @extend .text-body-xs;
      font-weight: 500;
    }

    &-regular {
      @extend .text-body-xs;
      font-weight: 400;
    }
  }
}

// search header style
input.home-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 36px 10px 16px;
  font-size: 14px;
  border: 1px solid #e5e7eb;
  border-radius: 999px;
  background-color: #fff;
  background-image: url(/assets/image/icon/mag-glass.svg);
  background-repeat: no-repeat;
  background-position: right 14px center;
  color: #6b7280;
  &::placeholder {
    color: #6b7280;
    opacity: 1;
  }
}

// input custom style
.input-label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  .input-title {
    @extend .text-body-md-medium;
    color: #1f2237;
    &.regular {
      font-weight: 400;
    }
    &.semibold {
      font-weight: 600;
    }
  }
  .input-field {
    @extend .text-body-md-regular;
    display: flex;
    padding: 12px;
    align-items: flex-start;
    border: 1px solid #dedfe0;
    border-radius: 8px;
    background: #fff;
    width: 100%;
    color: #0f0f0f;
    &::placeholder {
      color: #6b7280;
    }
    // &:focus {
    //   border: 1px solid var(--primary);
    //   caret-color: var(--primary);
    // }
    // &:disabled {
    //   border: 1px solid var(--gray-300);
    //   background: var(--gray-100);
    // }
  }

  select.input-field {
    width: 100%;
    appearance: none;
    /* Remove default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("../image/icon/triangle-down.svg") no-repeat right 16px
      center;
    background-size: 16px 16px;
    // &:disabled {
    //   border: 1px solid var(--gray-300);
    //   background: var(--gray-100);
    // }
  }
  .input-trans {
    // @extend .text-body-sm-regular;
    display: flex;
    width: 100%;
    border: none;
    &:disabled {
      background: transparent;
    }
  }
  select.input-trans {
    width: 100%;
    appearance: none;
    /* Remove default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("../../assets/image/icon/triangle-down.svg") no-repeat right
      0 center;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 32px;
  border-radius: 8px;
  border: 1px solid;
  border-color: transparent;
  &.bg-primary {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #fff;
  }
  &.border-primary {
    border-color: var(--primary);
    color: var(--primary);
    background-color: #fff;
  }
  &.p-10-24 {
    padding: 10px 24px;
  }
}

// box shadow custom
.shadow {
  &-1 {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
  }
}
